.App {
  text-align: center;
  color: purple;
  background-color: plum;
}

.counter {
  margin-top: 30px;
}

.counter button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.counter span {
  font-size: 30px;
  margin: 20px;
}