*{
  padding: 0%;
  margin: 0%;
}
.App {
  text-align: center;
  /* color: purple; */
  /* background-color: plum; */
  
}

.counter {
  margin-top: 30px;
}

.counter button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.counter span {
  font-size: 30px;
  margin: 20px;
}
.read{
  background-color: purple;
  color: white;
}
#content{
  color: peru;
  background-image: url(./assets/images/Virat-Kohli.webp);
  background-color: grey;
  font-size: 26px;
}
h1{
  color: chocolate;
  font-size: 60px;
  background-color: rgba(39, 39, 126, 0.503);
  
}
#footer{
  color: peru;
  font-size: 49px;
  background-color: rgba(39, 39, 126, 0.503);
  
}